@model Factura
@{
    ViewData["Title"] = "EditarFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditarFactura</h1>
<div>
    <p>Detalles de la factura:</p>
    <p>Código Factura: @Model.Cod_factura</p>
    <p>Cedula Cliente: @Model.Cedula_cliente</p>
    <!-- Agrega más detalles de la factura según sea necesario -->
</div>

