
@{
    ViewData["Title"] = "Ganancias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PedidoVisualizado</h1>

<div class="content-wrapper">
    <section class="content">

    </section>
</div>