
@{
    ViewData["Title"] = "ProcesoRecogida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <button>Hacer recogida</button>
    </section>
</div>