@model List<Empresas>
@{
    ViewData["Title"] = "FormSedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FormSedes</h1>

<div class="content-wrapper">
    <div class="container">
        <form role="form" asp-controller="Usuario" asp-action="InsertarSedes" method="POST">
            <div class="form-group">
                <label for="id_empresa">Seleccionar Empresa</label>
                <select class="form-control" id="id_empresa" name="id_empresa" required>
                    <option value="">Seleccionar Empresa</option>
                    @foreach (var empresa in Model)
                    {
                        <option value="@empresa.Id_empresa">@empresa.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="nombreSede">Nombre de la Sede</label>
                <input type="text" class="form-control" id="nombreSede" name="nombreSede" placeholder="Ingrese el nombre de la sede" required>
            </div>
            <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ingrese la ciudad" required>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la dirección" required>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el teléfono" required>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Sede</button>
        </form>
    </div>
</div>