@model List<Sede>
@{
    ViewData["Title"] = "Sedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <h1>Visualizar Sedes de una compañia</h1>
        <div class="row">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Usuario" asp-action="FormSedes">Agregar Sede</a>
                    </li>
                </ul>
                <form id="selectEmpresaForm">
                    <div class="form-group">
                        <label for="selectEmpresa">Seleccione una empresa:</label>
                        <select class="form-control" id="selectEmpresa" name="selectEmpresa">
                            <option value="">Seleccione una empresa</option>
                            @foreach (var sede in Model)
                            {
                                <option value="@sede.Id_empresa">@sede.Id_empresa</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Ver Sedes</button>
                </form>
            </div>
            <div class="col-8" id="sedesContainer">
                <!-- Aquí se mostrarán las sedes asociadas a la empresa seleccionada -->
            </div>
        </div>
    </div>
</div>

<script>
    // Agregar un evento al formulario para manejar la selección de empresa
    document.getElementById('selectEmpresaForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevenir el envío del formulario por defecto

        // Obtener el valor seleccionado del select
        var selectedEmpresaId = document.getElementById('selectEmpresa').value;

        // Filtrar las sedes asociadas a la empresa seleccionada
        var sedesAsociadas = @Html.Raw(Json.Serialize(Model));
        var sedesEmpresaSeleccionada = sedesAsociadas.filter(function (sede) {
            return sede.Id_empresa === selectedEmpresaId;
        });

        // Mostrar las sedes en el contenedor
        document.getElementById('sedesContainer').innerHTML = '<h1>Sedes asociadas a la empresa con ID: ' + selectedEmpresaId + '</h1>';

        sedesEmpresaSeleccionada.forEach(function (sede) {
            document.getElementById('sedesContainer').innerHTML += '<p>ID Sede: ' + sede.Id_sede + '</p>';
            document.getElementById('sedesContainer').innerHTML += '<p>Nombre de la Sede: ' + sede.NombreSede + '</p>';
            document.getElementById('sedesContainer').innerHTML += '<p>Ciudad: ' + sede.Ciudad + '</p>';
            document.getElementById('sedesContainer').innerHTML += '<p>Dirección: ' + sede.Direccion + '</p>';
            document.getElementById('sedesContainer').innerHTML += '<p>Teléfono: ' + sede.Telefono + '</p>';
        });
    });
</script>